[submodule "docs"]
	url = https://github.com/shiyis/politix-docs.git
	path = docs
[submodule "demo-app/"]
	url = https://github.com/shiyis/demo-app.git
[submodule "demo-app"]
	path = demo-app
	url = https://github.com/shiyis/demo-app.git
[submodule "documentation"]
	path = documentation
	url = https://github.com/shiyis/politics-doc
[submodule "project-docs"]
	path = project-docs
	url = https://github.com/shiyis/politics-docs
