[submodule "tweets"]
	path = tweets
	url = https://github.com/shiyis/c4pe2022-tweets
[submodule "urls"]
	path = urls
	url = https://github.com/shiyis/candidate-urls
[submodule "tbip"]
	path = tbip
	url = https://github.com/keyonvafa/tbip
