[submodule "dash-app"]
	path = dash-app
	url = https://github.com/shiyis/dash-app.git
[submodule "docs"]
	path = docs
	url = https://github.com/shiyis/politix-docs.git
[submodule "data"]
	path = data
	url = git@github.com:shiyis/project-inputs.git
[submodule "model"]
	path = model
	url = https://github.com/keyonvafa/tbip.git
