.display-4 {
    font-size: 2rem;
    text-align: center;
    padding: 2rem 1rem 0rem 1rem;
    font-weight: 600;
}


.logo{
    margin-top: 0.7rem;
    text-align: center;
    font-size: xxx-large;
}

.lead{
    font-weight: 700;
    font-size: xx-large;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    
}