.display-4 {
    font-size: 1rem;
    text-align: center;
    padding: 2rem 1rem 0rem 1rem;
    font-weight: 600;
}

.logo{
    margin-top: 0.3rem;
    margin-bottom: -0.5rem;
    text-align: center;
    font-size: xxx-large;
    text-shadow: 1px 0px 6px white;
}

.lead{
    font-weight: 900;
    font-size: xx-large;
    text-align: center;
    font-family: monospace;
    position:relative;
    letter-spacing: 0.05rem;    
}


